@import url("https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap");

:root {
  --clr-dark: #2b2b2b;
  --clr-light: #ffffff;
  --clr-primary: #1b8b83;
  --clr-secondary: #cfa584;
  --clr-tertiary: #d9d9d9;
  --font-style: "Truculenta", sans-serif;
  --h1: 5rem;
  --h2: 3.5rem;
  --h3: 2.5rem;
  --h4: 2rem;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  list-style: none;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  color: var(--clr-dark);
  font-family: var(--font-style);
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 150rem;
  margin: 0 auto;
  padding: 0 5rem;
}

/* HEADER */
.header {
  position: fixed;
  z-index: 9999;
  background-color: var(--clr-tertiary);
  /* p1rem0 */
  padding: 1rem 0;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  /* flex-direction: row-reverse */
  align-items: center;
}

.header__nav {
  display: flex;
  gap: 2rem;
}

.header__nav li a {
  font-weight: 700;
  font-size: 2rem;
  color: var(--clr-dark);
}

.header__nav li a:hover {
  color: var(--clr-primary);
}

/* MOBILE REPSPONSIVE | HEADER */
.toggle__menu {
  display: none;
}

.toggle__menu span {
  background-color: var(--clr-dark);
  width: 3rem;
  height: 0.4rem;
  display: block;
  border: 3px solid var(--clr-dark);
  border-radius: 1rem;
}

@media screen and (max-width: 520px) {
  .toggle__menu {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }

  .header__nav {
    position: fixed;
    top: 0;
    background-color: var(--clr-tertiary);
    flex-direction: column;
    text-align: center;
    right: -100%;
    transform: translateY(-20rem);
    margin-top: 25rem;
    height: 100vh;
    width: 100%;
    z-index: -1;
    transition: all 0.5 ease;
    justify-content: center;
  }

  .header__nav.open {
    right: 0;
    transition: all 0.5 ease;
  }

  .toggle__menu.open span:first-child {
    transform: translate(0, 11px) rotate(225deg);
    transition: all 0.5 ease;
  }

  .toggle__menu.open span:nth-child(2) {
    opacity: 0;
    transition: all 0.5 ease;
  }
  .toggle__menu.open span:last-child {
    transform: translate(0, -7px) rotate(-225deg);
    transition: all 0.5 ease;
  }

  .header__logo {
    width: 12rem;
  }
}

/* TOP */
.top {
  padding-top: 13rem;
  padding-bottom: 3rem;
  background-color: var(--clr-secondary);
  text-align: center;
}

.top span {
  font-weight: 100;
}

.top h4 {
  font-size: var(--h4);
  font-weight: 700;
  line-height: 1.5rem;
}

/* HOME BANNER */
.homeBanner {
  padding-top: 4rem;
  padding-bottom: 8rem;
}

.homeBanner__wrapper {
  display: flex;
  justify-content: space-between;
}

.homeBanner__text {
  max-width: 80rem;
}

.homeBanner__text ul li {
  line-height: 5rem;
}
/* : - pseudo class */
/* :: - pseudo element */
.homeBanner__text ul li:first-child {
  color: var(--clr-primary);
  font-size: 5rem;
  font-weight: 700;
}

.homeBanner__text ul li:nth-child(2) {
  color: var(--clr-secondary);
  font-size: 5rem;
  font-weight: 700;
  margin-left: 7rem;
}

.homeBanner__text ul li:last-child {
  color: var(--clr-primary);
  font-size: 5rem;
  font-weight: 100;
  /* position: absolute; */
}

.homeBanner__text ul li:last-child::before {
  display: inline-block;
  position: relative;
  content: " ";
  width: 20rem;
  height: 0.2rem;
  bottom: 1rem;
  right: 1rem;
  background: var(--clr-primary);
}

.homeBanner__text p {
  margin: 2rem 0;
  text-align: justify;
}

.homeBanner__img {
  display: flex;
  gap: 2rem;
}

.homeBanner__img img:last-child {
  position: relative;
  top: 4rem;
}

/* MVBILE RESPONSIVE | HOME BANNER */
@media screen and (max-width: 520px) {
  .homeBanner__img {
    display: none;
  }

  .homeBanner__text {
    text-align: justify;
  }
  .homeBanner__text ul li:nth-child(2) {
    margin-left: 0;
  }

  .homeBanner__text ul li:last-child::before {
    display: none;
  }
}

/* HOME ABOUT */
.homeAbout {
  padding: 5rem 0;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.homeAbout__title h2 {
  color: var(--clr-primary);
  font-weight: 700;
  font-size: var(--h2);
  margin-bottom: 4rem;
  text-align: end;
}

.homeAbout__title h2::before {
  content: " ";
  display: inline-block;
  position: relative;
  background-color: var(--clr-primary);
  height: 0.2rem;
  width: 117rem;
  bottom: 1rem;
  right: 1rem;
}

.homeAbout__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homeAbout__text {
  max-width: 95rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: justify;
}

/* MOBILE RESPONSIVE | HOME ABOUT */
@media screen and (max-width: 520px) {
  .homeAbout__title h2::before,
  .homeAbout__img {
    display: none;
  }
}

/* HOME CATALOG */
.homeCatalog {
  padding: 5rem 0;
  background-color: var(--clr-tertiary);
}

.homeCatalog__title h2 {
  color: var(--clr-primary);
  font-weight: 700;
  font-size: var(--h2);
  margin-bottom: 4rem;
}

.homeCatalog__title h2::after {
  content: " ";
  display: inline-block;
  position: relative;
  background-color: var(--clr-primary);
  height: 0.2rem;
  width: 130rem;
  bottom: 1rem;
  left: 1rem;
}

.homeCatalog__wrapper {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(42rem, 1fr));
}

/* MOBILE RESPONSIVE | HOME CATALOG */
@media screen and (max-width: 520px) {
  .homeCatalog__title h2::after {
    display: none;
  }

  .homeCatalog__wrapper {
    gap: 3rem;
  }
}

/* CTA */
.cta {
  padding: 5rem 0;
  background-color: var(--clr-primary);
}

.cta__wrapper {
  text-align: center;
}

.cta__wrapper h2 {
  font-size: var(--h2);
  font-weight: 700;
  margin-bottom: 0.1rem;
}

.cta__wrapper p {
  margin-bottom: 2rem;
}

/* MOBILE RESPONSIVE | CTA */
@media screen and (max-width: 520px) {
  .cta__wrapper h2 {
    font-size: var(--h3);
  }
}

/* FOOTER */
.footer {
  background-color: var(--clr-dark);
  padding: 3rem 0;
  color: var(--clr-light);
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__social {
  display: flex;
  gap: 2rem;
}

.footer__social a {
  color: var(--clr-light);
}
.footer__social a:hover {
  color: var(--clr-primary);
}

/* RESPONSIVE |FOOTER */
@media screen and (max-width: 520px) {
  .footer__wrapper {
    flex-direction: column;
  }
}

/* ABOUT BANNER */

.aboutBanner {
  padding-top: 20rem;
  padding-bottom: 8rem;
}

.aboutBanner__wrapper {
  display: flex;
  justify-content: space-between;
}

.aboutBanner__text {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 85rem;
  text-align: justify;
}

.aboutBanner__text H1 {
  font-weight: 700;
  letter-spacing: 1rem;
  margin-bottom: 1rem;
  font-size: var(--h2);
}

.aboutBanner__social {
  display: flex;
  gap: 1rem;
}

.aboutBanner__social a {
  color: var(--clr-dark);
}

.aboutBanner__social a:hover {
  color: var(--clr-primary);
}

.aboutBanner__caption {
  text-align: right;
}

.aboutBanner__caption::before {
  display: inline-block;
  position: relative;
  content: " ";
  width: 38rem;
  height: 0.2rem;
  bottom: 0.5rem;
  right: 1rem;
  background: var(--clr-primary);
}

/* MOBILE RESPONSIVE | ABOUT BANNER */
@media screen and (max-width: 520px) {
  .aboutBanner__wrapper {
    flex-direction: column;
  }

  .aboutBanner__text {
    /* background-color: red; */
    margin-top: -5rem;
    max-width: 40rem;
  }

  .aboutBanner__text h1 {
    /* background-color: green; */
    transform: translateY(-67rem);
  }

  .aboutBanner__caption::before {
    width: 30rem;
  }
}

/* ABOUT STYLE */

.aboutStyle {
  background-color: var(--clr-dark);
  padding: 5rem 0;
}

.aboutStyle__title h2 {
  font-size: var(--h2);
  color: var(--clr-primary);
}

.aboutStyle__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 4rem;
}

/* CATALOG BANNER */
.catalogBanner {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(./img/catalog-banner.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalogBanner__wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.catalogBanner__wrapper H1 {
  font-size: var(--h1);
  color: var(--clr-primary);
  font-weight: 700;
}

.catalogBanner__wrapper p {
  font-size: 2.3rem;
  font-weight: 400;
  letter-spacing: -0.02rem;
  word-spacing: -0.1rem;
  line-height: 2rem;
}

/* 
.catalogDesign__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}


.design__container {
  width: 100%;
  max-width: 150rem;
  margin: 0 auto;
  padding: 0 auto;
}


.catalogDesign__title {
  text-align: center;
  margin: auto 0;
}

.catalogDesign__card--left {
  width: 50%;
  margin-left: 0;
  
}

.catalogDesign__card--img {
  width: 70%;
  height: 40rem;
  display: flex;
  justify-content: end;
  margin: 10rem 0;

}


.catalogDesign__card--img img {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 5rem 0;
  position: relative;
  left: 110px;
  

}

.catalogDesign__card--text {
  text-align: justify;
  align-self: center;
  width: 50%;
  padding-left: 3rem;
} */

/* CATALOG DESIGN */
.catalogDesign {
  margin: 5rem 0 13rem 0;
}

.catalogDesign__title {
  font-size: var(--h3);
  color: var(--clr-primary);
  text-align: center;
  font-weight: 700;
}

.catalogDesign__wrapper {
  /* display: grid;
  grid-template-rows: repeat(auto-fit, minmax(25rem, 1fr));
  padding: 0; */
  max-width: 130rem;
  margin: -5rem auto;
}

/* .space {
  height: 0rem;
}

.spaceReverse {
  height: 0rem;
  text-align: right;
} */

/* .spaceReverse::after {
  display: inline-block;
  position: relative;
  content: " ";
  width: 45%;
  height: 68rem;
  right: -9rem;
  z-index: -1;
  background: var(--clr-secondary);
}

.space::before {
  display: inline-block;
  position: relative;
  content: " ";
  width: 45%;
  height: 68rem;
  left: -9rem;
  z-index: -1;
  background: var(--clr-secondary);
} */

.catalogDesign__card {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  max-width: 150rem;
  margin: 10rem auto;
}

.catalogDesign__card::before {
  position: absolute;
  content: " ";
  width: 395rem;
  height: 45rem;
  left: -350rem;
  z-index: -1;
  background: var(--clr-secondary);
}
.catalogDesign__card:nth-child(even) {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  max-width: 150rem;
  margin: 5rem auto;
}

.catalogDesign__card:nth-child(even)::before {
  position: absolute;
  content: " ";
  width: 395rem;
  height: 45rem;
  left: 85rem;
  z-index: -1;
  background: var(--clr-secondary);
}

.catalogDesign__card--img {
  width: 50%;
  align-self: center;
  background-color: green;
}

.catalogDesign__card--img img {
  display: block;
  margin: auto;
  width: 100%;
  height: 35rem;
  object-fit: cover;
}

.catalogDesign__card--text {
  align-content: center;
  width: 50%;
  text-align: justify;
}

.catalogDesign__card--text H4 {
  font-size: var(--h3);
  color: var(--clr-primary);
  font-weight: 700;
}

/* MOBILE RESPONSIVE | CATALOG DESIGN */
@media screen and (max-width: 520px) {
  /* .container {
    width: 500px;
    background-color: blue;
  } */

  .catalogDesign {
    /* background-color: green; */
    margin: 5rem 0;
  }

  .catalogDesign__wrapper {
    /* background-color: green; */
    margin: -2rem auto;
  }

  .catalogDesign__card {
    flex-direction: column;
    width: 50rem;
    margin: 8rem 0;

    /* background-color: red; */
  }
  .catalogDesign__card::before {
    height: 40rem;
    top: -2.5rem;
    left: -360rem;
  }

  .catalogDesign__card:nth-child(even):before {
    height: 40rem;
    top: -2.5rem;
    left: 13rem;
  }

  .catalogDesign__card:nth-child(even) {
    flex-direction: column;
    width: 50rem;
  }

  .catalogDesign__card--img {
    width: 80%;
  }

  .catalogDesign__card--text {
    width: 70%;
  }
  .catalogDesign__card--text h4 {
    text-align: center;
  }
}

/* CONTACT BANNER */
.contactBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-tertiary);
  height: 92vh;
}

.contactBanner__title h1 {
  font-size: var(--h1);
  font-weight: 700;
  color: var(--clr-primary);
}

.contactBanner__wrapper {
  display: flex;
  flex-direction: row;
  /* background-color: red; */
  justify-content: space-between;
  /* align-items: center; */
  margin: 3rem 0;
  /* height: 40rem; */
}

.contactBanner__wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  width: 80rem;
  margin: 0;
}

.contactBanner__wrapper form a {
  letter-spacing: 1rem;
}

.contactBanner__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  width: 50rem;
  /* padding: 3rem 0; */
  justify-content: space-evenly;
}

.contactBanner a {
  text-align: justify;
}

.contactBanner__info h3 {
  font-size: var(--h2);
  font-weight: 300;
}

.contact__links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.contact__links li {
  text-align: justify;
  width: 100%;
}

.contact__links a {
  display: inline-block;
  color: var(--clr-secondary);
  margin-right: 1rem;
  width: 1.65rem;
}

.contact__links p {
  display: inline-block;
}
.contact__links a:hover {
  color: var(--clr-primary);
}

/* MOBILE RESPONSIVE | CONTACT BANNER */
@media screen and (max-width: 520px) {
  .contactBanner {
    padding-top: 15rem;
    height: 100vh;
  }

  .contactBanner__wrapper {
    flex-direction: column-reverse;
    height: 60rem;
    margin-top: 2rem;
  }

  .contactBanner__wrapper form {
    width: 100%;
  }

  .contactBanner__info {
    width: 100%;
    height: 22rem;
  }

  .contactBanner__info::after {
    display: inline-block;
    position: relative;
    content: " ";
    width: 120%;
    height: 1px;
    top: 4rem;
    background: var(--clr-dark);
  }
}

/* ASSETS */
.btn {
  background-color: transparent;
  border: transparent;
  border-radius: 10rem;
  padding: 1rem 2rem;
  color: transparent;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  text-align: center;
}

.btn.bg-tertiary {
  background-color: var(--clr-tertiary);
  color: var(--clr-dark);
  font-weight: 700;
}

.btn.bg-tertiary:hover {
  background-color: var(--clr-dark);
  color: var(--clr-tertiary);
}

.btn.bg-dark {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  font-weight: 700;
  padding: 0.5rem;
  text-align: center;
}

.btn.bg-dark:hover {
  background-color: var(--clr-primary);
}

.no-bg {
  color: var(--clr-dark);
}
.no-bg:hover {
  color: var(--clr-primary);
}

.card {
  background-color: var(--clr-light);
  max-width: 43rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card img {
  width: 43rem;
}
.card--text {
  padding: 1rem;
}

.carD--text p {
  margin-bottom: 1rem;
}

.card--text h3 {
  font-size: var(--h3);
  color: var(--clr-secondary);
  margin-bottom: 1rem;
  font-weight: 700;
}

.input {
  display: block;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.404);
  background-color: var(--clr-tertiary);
  padding: 1rem 1.2rem;
  font-family: var(--font-style);
  font-size: 1.5rem;
}

.input-text {
  height: 4rem;
}
